<div class="row section topspace" style="margin-bottom: 40px;">
  <div class="panel panel-cta"><div class="panel-body">
    <div class="col-lg-5">
       <h5 style='  margin-top: 10px;'><b>Choose</b> your role to control food wastage<h5>
      </div>
      <div class="col-lg-7 text-right">
        <%= link_to "Become a transporter", new_transporter_path, class: "btn btn-primary btn-download btn-lg" %>&nbsp;&nbsp;&nbsp;
        <%= link_to "Register an NGO", new_ngo_path, class: "btn btn-primary btn-download btn-lg" %>
      </div>
    </div>
  </div>
</div>
